<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <title>Edwork Sensor simulator</title>
    <style>
        body { margin: 10px;}
        table { border-collapse: collapse; }
        table, th, td { border: 1px solid black; }
        input { border-style: none;}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>   
</head>

<body>
  <div id="app"><div v-cloak>
    <div id="controls">
      <div style="display:flex">
        <b-button v-show="!connected" variant="danger" @click="openPort">Open Port</b-button>
        <b-button v-show="connected" variant="danger" @click="closePort">Close Port</b-button>
        <b-form-select v-model="port" style="width:400px;" :options="ports"></b-form-select>&nbsp;
        <b-button v-show="connected" variant="success" id="btn-pairing" @mousedown="pressed_button='pairing'" @mouseup="pressed_button=null">PAIRING</b-button>&nbsp;
        <b-button v-show="connected" variant="success" id="btn-reset" @mousedown="pressed_button='reset'" @mouseup="pressed_button=null">RESET</b-button>
      <span id="pressed_button">{{pressed_button}}</span>
      </div>
      <br/>
      <table>
        <tr>
          <td class="table-info">0.power: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
          <td class="table-info">1.wifi_strength: </td><td><input name="sensor"  type="number" min="-126" max="0" value="0"></td>
          <td class="table-info">2.temperature: </td><td><input name="sensor"  type="number" min="-126" max="127" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">3.humidity: </td><td><input name="sensor"  type="number" min="0" max="100" value="1"></td>
          <td class="table-info">4.co2_concentration: </td><td><input name="sensor"  type="number" min="0" max="100" value="1"></td>
          <td class="table-info">5.voc: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">6.fine_dust: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
          <td class="table-info">7.fine_dust2: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
          <td class="table-info">8.fine_dust3: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">9.amount_of_electricity_used: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
          <td class="table-info">10.airflow: </td><td><input name="sensor" type="number" min="1" max="8" value="1"></td>
          <td class="table-info">11.power_light1: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">12.power_light2: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
          <td class="table-info">13.power_light3: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
          <td class="table-info">14.power_light4: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">15.power_light5: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
          <td class="table-info">16.power_light6: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
          <td class="table-info">17.power_light_all: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">18.dimming: </td><td><input name="sensor" type="number" min="0" max="100" value="1"></td>
          <td class="table-info">19.led_bright: </td><td><input name="sensor" type="number" min="0" max="100" value="1"></td>
          <td class="table-info">20.colors: </td><td><input name="sensor" type="number" min="0" max="100" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">21.direction: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
          <td class="table-info">22.speed: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
          <td class="table-info">23.canvas: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">24.distance: </td><td><input name="sensor" type="number" min="0" max="127" value="1"></td>
          <td class="table-info">25.height: </td><td><input name="sensor" type="number" min="-126" max="127" value="1"></td>
          <td class="table-info">26.intensity_of_illumination: </td><td><input name="sensor" type="number" min="-126" max="127" value="1"></td>
        </tr>
        <tr>
          <td class="table-info">27.motion_sensor: </td><td><input name="sensor" type="number" min="0" max="1" value="1"></td>
          <td class="table-info">28.open_sense: </td><td><input name="sensor" type="number" min="1" max="2" value="1"></td>
          <td></td><td></td>
        </tr>
      </table>
    </div>
    <br/>
    <div id="error"></div>
    <div v-if="false" id="recv" style="overflow:scroll; width:100%; height:200px;">
      <ul>
        <li v-for="recv in recvs">{{recv.toString()}}</li>
      </ul>
    </div>
  </div></div>
</body>

<script src="./renderer.js"></script>

</html>